body {
    padding: 0;
    margin: 0;
}

.App {
    font-family: Arial, Helvetica, sans-serif;
}

.search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F15B42;
    margin: 0;
    height: 150px;
}

.search-bar__form {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search-bar__label {
    visibility: hidden;
}

.search-bar__input {
    margin-bottom: 10px;
    width: 25vw;
    height: 40px;
    font-size: 18px;
    background-color: #F9F0DA;
    border-radius: 5px;
    border: hidden;
    border-bottom: solid 4px black;
    padding-left: 10px;
    /*box-shadow: black;*/
}

.search-bar__input:focus {
    outline: none;
}

.search-bar__submit {
    position: absolute;
    right: 0;
    background-color: #F9F0DA;
    border: hidden;
}
